.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .botao {
    margin: 5px;
    margin-top: 70px;
    width: 200px;
  }
  
  .criar-usuarios {
    padding: 2rem 0;
  }
  
  .criar-usuarios form {
    background: #C4EDFF;
  
    border: none;
    border-radius: 20px;
  
    display: flex;
    flex-direction: column;
  
    padding: 2rem;
  }
  
  .criar-usuarios form label {
    color: #154580;
    font-weight: bold;
    margin: 0 0 1rem;
  }
  
  .criar-usuarios form .input {
    border: none;
    height: 40px;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 0.5rem 0 2rem;
  }
  .criar-usuarios form .input1 {
    border: none;
    display: flex;
    height: 40px;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin-top:25px;
    margin-bottom: 20px;
  }
  
  
  .criar-usuarios form .textarea {
    border: none;
    padding: 1rem 2rem;
    border-radius: 20px;
  }
  
  
  button.disabled {
    background-color: gray;
    color: #ccc;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .label{
    color: #154580;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 60px;
  }

  .alert{
    color:red;
    margin-left: 10px;
    font-size: 12px;
  }


  /* @media (max-width: 500px) {
    .criar-usuarios form .input1 {
        width: 400px;
    }
  } */
  @media (max-width: 460px) {
    .criar-usuarios form .input1 {
        width: 30vh;
    }
  }

  @media (min-width: 480px) {
    .criar-usuarios form .input1 {
        width: 45vh;
    }
  }
  @media (min-width: 576px) {
    .criar-usuarios form .input1 {
        width: 415px;
    }
  }
  @media (min-width: 768px) {
    .criar-usuarios form .input1 {
        width: 595px;
    }
  }
  @media (min-width: 992px) {
    .criar-usuarios form .input1 {
        width: 835px;
    }
  }
  @media (min-width: 1200px) {
    .criar-usuarios form .input1 {
        width: 1010px;
    }
  }
  